[changelog]
header = ""
body = """
{% if version %}\
## {{ version | trim_start_matches(pat="v") }} - {{ timestamp | date(format="%B %d, %Y") }}
{% else %}\
## Unreleased
{% endif %}\
{% for group, commits in commits | group_by(attribute="group") %}

### {{ group | upper_first }}
{% for commit in commits %}
- {{ commit.message | split(pat=":") | last | trim | capitalize }}\
{% endfor %}
{% endfor %}

"""
trim = true

[git]
conventional_commits = true
filter_unconventional = true
sort_commits = "newest"
tag_pattern = "v[0-9]*"
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Bug Fixes" },
  { message = "^perf", group = "Performance" },
  { message = "^refactor", group = "Refactor" },
  { message = "^docs", group = "Documentation" },
  { message = "^style", group = "Styling" },
  { message = "^chore", skip = true },
  { message = "^ci", skip = true },
  { message = "^build", skip = true },
]
